.container {
  margin-top: 5rem;
  padding: 1rem;
  border: 4px solid #a92f2f;
  border-radius: 16px;
  min-height: 500px;
  display:flex;
  .feild {
    border: 1px solid rgb(213 201 201);
    border-radius: 10px;
    height: 100%;
    padding:1rem;
    min-height: 500px;
    }
}
